# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
mp/
venv/
env/
.venv/

# Flask cache / instance files
instance/
*.db
*.sqlite3

# Environment variables
.env
*.env

# VS Code settings
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/
